<%-include('partials/head')-%>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler dropbtn" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon Toggle"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item navitem">
                        <a class="nav-link " href="/">Home</a>
                    </li>
                    <li class="nav-item navitem">
                        <a class="nav-link >" href="/create">Myprofile</a>
                    </li>
                    <li class="nav-item navitem">
                        <a class="nav-link " href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div>
            <h3 class="name">New Post?</h3>
        <form method="POST" action="/create" enctype="multipart/form-data" class="createform">
				<input type="text" name="title" placeholder="Title" required><br/><br/>
                <textarea name="description" placeholder="Description" required>
                </textarea><br/>
                <input type="file" name="image">
                <input type="submit" style="padding: 5px;;">
        </form>
        </div>
        <div class="container" style="color: white; width: 100%;">
            <% items.forEach(function(image) { %>
                <div>
                    <div class="post">
                        <div class="name">
                            <h2><%= image.username %></h2>
                        </div>
                        <div class="date">
                            <small><%= image.date %></small>
                        </div><br/>
                        <div class="title">
                            <h4><%= image.title %></h4>
                        </div>
                        <div>
                            <p><%= image.description %></p>
                        </div>
                        <img src="data:image/<%=image.img.contentType%>;base64,
                             <%=image.img.data.toString('base64')%>" class="image_post">
                    </div>
                        <% }) %>
                </div>
        </div>
        <script>
            if ('<%-message%>'!=""){
            alert('<%- message %>');
            }
        </script>
    </body>
    </html>